<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
    <body>
        <h1>Happy trails</h1>
        <div class="row">

            <div class="col-md-6"> Temp api data</div>
            <button type="button" class="btn btn-primary">Primary</button>

            <div class="col-md-6"> other temp data</div>
            <button type="button" class="btn btn-primary">Primary</button>

        </div>
    </body>
</html>

